@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");
@import "reset.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191a23;
  font-family: "Red Hat Text", sans-serif;
  color: white;
  font-size: 15px;
  background-image: url("images/bg-stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  width: 80%;
  margin: 142px auto 0;
}
h2 {
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 24px;
}

main {
  width: 78%;
  margin: auto;
}
.countdown {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 50px auto;
  max-width: 688px;
  gap: 10px;
}
.timer {
  width: 70px;
  text-align: center;
  position: relative;
}
h3 {
  position: relative;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 2.5rem;
  background-color: #191a23;
  color: #fb5e84;
  line-height: 50px;
}
h3::before,
h3::after {
  width: 100%;
  content: "";
  height: 50%;
  opacity: 0.4;
  position: absolute;
  z-index: 7;
}
h3::before {
  background-color: #979797;
  left: 0;
  top: 50%;
  box-shadow: 0 5px 0 0 #000000;
  border-radius: 0px 0px 4px 4px;
}
h3::after {
  background-color: #696b83;
  left: 0;
  top: 0%;
  border-radius: 4px 4px 0px 0px;
}
.timer::before,
.timer::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #191a23;
  border-radius: 50%;
  z-index: 10;
  top: 31%;
}
.timer::before {
  left: -5px;
}
.timer::after {
  right: -5px;
}
p {
  font-size: 0.5rem;
  letter-spacing: 3px;
  padding-bottom: 0px;
  padding-top: 10px;
  color: #8385a9;
}

footer {
  margin-top: 200px;
  background-image: url(images/pattern-hills.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding-top: 77px;
  letter-spacing: 5px;
}
.fa-facebook-square {
  transition: color 0.7s 0s ease;
}
.fa-pinterest-square {
  transition: color 0.7s 0s ease;
}
.fa-instagram {
  transition: color 0.7s 0s ease;
}
.fa-facebook-square:hover {
  color: #fb5e84;
}
.fa-pinterest-square:hover {
  color: #fb5e84;
}
.fa-instagram:hover {
  color: #fb5e84;
}
.fa-brands {
  font-size: 28px;
  opacity: 0.6;
}

.attribution {
  position: relative;
  text-align: center;
  top: 30px;
  font-size: 13px;
  color: #004a9e;
}
.attribution a {
  color: #0066cc;
  transition: color 0.7s 0s ease;
  text-decoration: none;
}
.attribution a:hover {
  color: #25564b;
}
